body{
    font-family: 'Courier New', Courier, monospace;
}
.fightarea{
    display: flex;
    gap: 20px;
}

#char, #monster {
    flex: 1;
}

.lifebar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}

.log {
    border: 1px dotted #999;
    height: 200px;
    overflow: scroll;
}

.attackbutton {
    border-radius: 20px;
    border: none;
    background-color: orange;
    font-weight: bold;
    font-size: 15px;
    height: 25px;
    width: 75px;
    color: red;
}
strong {
    font-size: 20px;
    font-weight: bolder;
    color: black;
}